<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EUDR</title>
    <!-- เรียกใช้ Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/signature_pad/2.3.2/signature-pad.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav class="navbar navbar-light bg-light" style="box-shadow: 0 8px 6px -6px black;">
        <div class="container-fluid d-flex justify-content-start align-items-center">
            <a class="navbar-brand" href="/">
                <img src="{{ url_for('static', filename='img3.jpg') }}" alt="Your Image" class="responsive-img" style="max-width: 270px;">
            </a>
        </div>
    </nav>
    <div class="container mt-5">
        <h4 class="">แบบสำรวจความถูกต้องตามกฎหมายของ EUDR <br><br>บันทึกสำเร็จ</h4>
        <div class="buttons-container">
            <a href="/" class="btn btn-primary btn-lg btn-block btn-purple " style="width: 50%;">กลับไปหน้าแรก</a>
        </div>
    </div>
</body>
</html>
